@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Barlow Condensed','Nunito','Poppins', sans-serif;
    margin: 0;
    background-color: rgb(45, 45, 45); /* Light background */
    color: #333;
    overflow-x: hidden;
    line-height: 1.6; /* Improve readability */
    font-weight: 400;
    font-size: larger;
}
h1 {
    margin: 0.5rem 0; /* Improved spacing */
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    text-align: center;
    color: rgb(217, 212, 212);

    
}
.chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: rgb(45, 45, 45);
    margin-top: 25rem;
  }
  
  #chat-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 2rem;
    margin-left: 3rem;
  }
  
  .send-button {
    background-color: #88a589;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 5px;
  }
  
  .send-button:hover {
    background-color: #3e8e41;
  }
  
  /* Placeholder styles */
  #chat-input::placeholder {
    color: #999;
    font-style: italic;
    size-adjust: 100%;
  }
